{% extends "base.html" %}
{% block title %}Bombas{% endblock %}

{% block content %}
{% from 'macros.html' import render_header, render_alertas, acciones_td, btn_agregar %}


<!-- =========================
     HEADER: TÍTULO + NAV REPORTE
========================= -->
{{ render_header('Bombas', r) }}

<!-- =========================
     MENSAJES
========================= -->
{{ render_alertas(r, error) }}

<!-- =========================
     FORM AGREGAR
========================= -->
<form method="POST" class="card card-body mb-3">
  <div class="row g-2">
    <div class="col-md-3">
      <label class="form-label">Número</label>
      <input class="form-control" name="numero" placeholder="Ej: P-205">
    </div>

    <div class="col-md-3">
      <label class="form-label">Estado</label>
      <select class="form-select" name="estado_bomba">
        <option value="">Seleccione...</option>
        <option>Encendida</option>
        <option>Apagada</option>
        <option>Down</option>
      </select>
    </div>

    <div class="col-md-6">
      <label class="form-label">Ubicación</label>
      <input class="form-control" name="ubicacion" placeholder="Ej: Rampa 2B">
    </div>
  </div>

  {% if r.estado != "CERRADO" %}
    <div class="mt-3">
      <button class="btn btn-primary">✅ Agregar</button>
    </div>
  {% endif %}
</form>

<!-- =========================
     TABLA / EMPTY STATE
========================= -->
{% if items|length == 0 %}
  <div class="alert alert-warning">No hay bombas registradas.</div>
{% else %}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th>Número</th>
          <th>Estado</th>
          <th>Ubicación</th>
          <th class="col-accion">Acciones</th>
        </tr>
      </thead>

      <tbody>
        {% for it in items %}
        <tr>
          <td>{{ it.numero }}</td>
          <td>{{ it.estado }}</td>
          <td>{{ it.ubicacion }}</td>

          <td class="col-accion">
            <div class="d-inline-flex gap-2 align-items-center flex-nowrap">
              <a class="btn btn-sm btn-outline-primary"
                href="/reportes/{{ r.id }}/bombas/{{ it.id }}/editar">
                ✏️ Editar
              </a>

              <form method="POST"
                    action="/reportes/{{ r.id }}/bombas/eliminar/{{ it.id }}"
                    class="m-0 d-inline">
                <button class="btn btn-sm btn-outline-danger"
                        onclick="return confirm('¿Eliminar este registro?')"
                        {% if r.estado == "CERRADO" %}disabled{% endif %}>
                  🗑 Eliminar
                </button>
              </form>
            </div>
          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}

{% endblock %}
