<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>RCT {{ r.id }}</title>
  <link rel="stylesheet" href="static/css/pdf_C.css">
</head>
<body>

  <!-- CONTENEDOR 1 HOJA -->
  <div class="page">

    <!-- NIVEL 1 -->
    <section class="lvl lvl1">

        <!-- PERSONAL -->
        <div class="card">
            <div class="t">PERSONAL</div>
            <div class="kpi">
            <div class="lbl">Disponible</div>
            <div class="val">{{ disponible_p }}</div>
            </div>
            <div class="kpi">
            <div class="lbl">Roster</div>
            <div class="val">{{ roster_p }}</div>
            </div>
        </div>

        <!-- CAMIONES + KPIs -->
        <div class="card">
            <div class="t">CAMIONES</div>
            <div class="kpi">
            <div class="lbl">Total</div>
            <div class="val">{{ total_camiones }}</div>
            </div>
            <div class="kpi">
            <div class="lbl">Operativos</div>
            <div class="val">{{ camiones_disponibles }}</div>
            </div>
        </div>

    </section>


    <!-- NIVEL 2 -->
    <section class="lvl lvl2">
      <div class="card">PRODUCCIÓN</div>
      <div class="card">OPERACIÓN</div>
    </section>

    <!-- NIVEL 3 -->
    <section class="lvl lvl3">
      <div class="card">PENDIENTES</div>
      <div class="card">EQUIPOS VARADOS</div>
    </section>

    <!-- NIVEL 4 -->
    <section class="lvl lvl4">
      <div class="card">SEGURIDAD</div>
    </section>

    <!-- NIVEL 5 -->
    <section class="lvl lvl5">
      <div class="card">COMENTARIOS FINALES</div>
    </section>

  </div>

</body>
</html>
